USE [master]
GO
/****** Object:  Database [THUVIEN]    Script Date: 5/12/2026 8:05:22 PM ******/
CREATE DATABASE [THUVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THUVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THUVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THUVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THUVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THUVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THUVIEN]
GO
/****** Object:  Table [dbo].[LoaiSach]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiSach] [nchar](10) NOT NULL,
	[TenLoaiSach] [nvarchar](200) NULL,
	[TimeUpdate] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
 CONSTRAINT [PK_LoaiSach_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NXB]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NXB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNXB] [nchar](10) NOT NULL,
	[TenNXB] [nvarchar](150) NULL,
	[TimeUpdate] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
	[DiaChi] [nvarchar](150) NULL,
 CONSTRAINT [PK_NXB_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaMuon] [nchar](10) NOT NULL,
	[NguoiMuon] [int] NULL,
	[NgayMuon] [datetime] NULL,
	[NgayTra] [datetime] NULL,
	[HinhThuc] [nvarchar](150) NULL,
	[TimeUpdate] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
	[SoNgayMuon] [int] NULL,
 CONSTRAINT [PK_PhieuMuon_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [nchar](10) NOT NULL,
	[TenSach] [nvarchar](150) NULL,
	[LoaiSach] [int] NULL,
	[NamXB] [nchar](10) NULL,
	[NXB] [int] NULL,
	[TacGia] [int] NULL,
	[ViTri] [int] NULL,
	[SoLuong] [int] NULL,
	[Muon] [int] NULL,
	[NgonNgu] [nvarchar](150) NULL,
	[TimeCreate] [datetime] NULL,
	[TimeUpdate] [datetime] NULL,
 CONSTRAINT [PK_Sach_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[ID] [int] NOT NULL,
	[MaSV] [nchar](10) NOT NULL,
	[Lop] [nvarchar](150) NULL,
	[TimeUpdate] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
	[HoTen] [nvarchar](150) NULL,
 CONSTRAINT [PK_SinhVien_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaTacGia] [nchar](10) NOT NULL,
	[TenTacGia] [nvarchar](150) NULL,
	[TimeUpdate] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
	[DiaChi] [nvarchar](250) NULL,
 CONSTRAINT [PK_TacGia_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Username] [nchar](10) NULL,
	[TimeUpdate] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
	[Password] [nchar](100) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViTri]    Script Date: 5/12/2026 8:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViTri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaViTri] [nchar](10) NOT NULL,
	[Ngan] [nvarchar](150) NULL,
	[Ke] [nvarchar](150) NULL,
	[TimeUpdate] [datetime] NULL,
	[TimeCreate] [datetime] NULL,
	[Khu] [nvarchar](150) NULL,
 CONSTRAINT [PK_ViTri_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiSach] ON 

INSERT [dbo].[LoaiSach] ([ID], [MaLoaiSach], [TenLoaiSach], [TimeUpdate], [TimeCreate]) VALUES (4, N'S001      ', N'Công nghệ thông tin', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-03T00:00:00.000' AS DateTime))
INSERT [dbo].[LoaiSach] ([ID], [MaLoaiSach], [TenLoaiSach], [TimeUpdate], [TimeCreate]) VALUES (5, N'S002      ', N'Khoa học máy tính', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-03T00:00:00.000' AS DateTime))
INSERT [dbo].[LoaiSach] ([ID], [MaLoaiSach], [TenLoaiSach], [TimeUpdate], [TimeCreate]) VALUES (6, N'S003      ', N'Kỹ thuật phần mềm', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-03T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LoaiSach] OFF
SET IDENTITY_INSERT [dbo].[NXB] ON 

INSERT [dbo].[NXB] ([ID], [MaNXB], [TenNXB], [TimeUpdate], [TimeCreate], [DiaChi]) VALUES (1, N'NXB001    ', N'Nhà xuất bản Thái Bình', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-03T00:00:00.000' AS DateTime), N'Thái Bình')
SET IDENTITY_INSERT [dbo].[NXB] OFF
SET IDENTITY_INSERT [dbo].[PhieuMuon] ON 

INSERT [dbo].[PhieuMuon] ([ID], [MaMuon], [NguoiMuon], [NgayMuon], [NgayTra], [HinhThuc], [TimeUpdate], [TimeCreate], [SoNgayMuon]) VALUES (1, N'PM001     ', 1, CAST(N'2024-01-10T00:00:00.000' AS DateTime), CAST(N'2024-02-10T00:00:00.000' AS DateTime), N'Mượn tại chỗ', CAST(N'2024-01-10T00:00:00.000' AS DateTime), CAST(N'2024-01-10T00:00:00.000' AS DateTime), 30)
INSERT [dbo].[PhieuMuon] ([ID], [MaMuon], [NguoiMuon], [NgayMuon], [NgayTra], [HinhThuc], [TimeUpdate], [TimeCreate], [SoNgayMuon]) VALUES (2, N'PM002     ', 2, CAST(N'2024-01-12T00:00:00.000' AS DateTime), CAST(N'2024-02-12T00:00:00.000' AS DateTime), N'Mượn online', CAST(N'2024-01-12T00:00:00.000' AS DateTime), CAST(N'2024-01-12T00:00:00.000' AS DateTime), 30)
SET IDENTITY_INSERT [dbo].[PhieuMuon] OFF
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([ID], [MaSach], [TenSach], [LoaiSach], [NamXB], [NXB], [TacGia], [ViTri], [SoLuong], [Muon], [NgonNgu], [TimeCreate], [TimeUpdate]) VALUES (1, N'MS001     ', N'Lập trình hướng đối tượng với C++', 4, N'2017      ', 1, 1, 1, 5, NULL, N'Việt', CAST(N'2026-02-04T00:00:00.000' AS DateTime), CAST(N'2026-02-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sach] OFF
INSERT [dbo].[SinhVien] ([ID], [MaSV], [Lop], [TimeUpdate], [TimeCreate], [HoTen]) VALUES (1, N'SV2026001 ', N'CNTT-K20', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-03T00:00:00.000' AS DateTime), N'Trần Văn An')
INSERT [dbo].[SinhVien] ([ID], [MaSV], [Lop], [TimeUpdate], [TimeCreate], [HoTen]) VALUES (2, N'SV2026002 ', N'CNTT-K20', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-03T00:00:00.000' AS DateTime), N'Nguyễn Thị Linh')
SET IDENTITY_INSERT [dbo].[TacGia] ON 

INSERT [dbo].[TacGia] ([ID], [MaTacGia], [TenTacGia], [TimeUpdate], [TimeCreate], [DiaChi]) VALUES (1, N'TG001     ', N'Nguyễn Văn A', CAST(N'2002-02-03T00:00:00.000' AS DateTime), CAST(N'2002-02-03T00:00:00.000' AS DateTime), N'Nha Trang')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
SET IDENTITY_INSERT [dbo].[ViTri] ON 

INSERT [dbo].[ViTri] ([ID], [MaViTri], [Ngan], [Ke], [TimeUpdate], [TimeCreate], [Khu]) VALUES (1, N'VT001     ', N'Ngan 01', N'Ke 01', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-04T00:00:00.000' AS DateTime), N'Khu A')
INSERT [dbo].[ViTri] ([ID], [MaViTri], [Ngan], [Ke], [TimeUpdate], [TimeCreate], [Khu]) VALUES (2, N'VT002     ', N'Ngan 02', N'Ke 01', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-04T00:00:00.000' AS DateTime), N'Khu A')
INSERT [dbo].[ViTri] ([ID], [MaViTri], [Ngan], [Ke], [TimeUpdate], [TimeCreate], [Khu]) VALUES (3, N'VT003     ', N'Ngan 03', N'Ke 02', CAST(N'2026-02-03T00:00:00.000' AS DateTime), CAST(N'2026-02-04T00:00:00.000' AS DateTime), N'Khu A')
SET IDENTITY_INSERT [dbo].[ViTri] OFF
GO
-- Thêm dữ liệu LoaiSach
SET IDENTITY_INSERT [dbo].[LoaiSach] ON 
SET IDENTITY_INSERT [dbo].[LoaiSach] OFF
GO
-- Thêm dữ liệu NXB
SET IDENTITY_INSERT [dbo].[NXB] ON 
INSERT [dbo].[NXB] ([ID], [MaNXB], [TenNXB], [TimeUpdate], [TimeCreate], [DiaChi]) VALUES (2, N'NXB002    ', N'Nhà xuất bản Giáo dục Việt Nam', CAST(N'2026-02-05T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime), N'81 Trần Hưng Đạo, Hoàn Kiếm, Hà Nội')
INSERT [dbo].[NXB] ([ID], [MaNXB], [TenNXB], [TimeUpdate], [TimeCreate], [DiaChi]) VALUES (3, N'NXB003    ', N'Nhà xuất bản Trẻ', CAST(N'2026-02-05T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime), N'161B Lý Chính Thắng, Phường 7, Quận 3, TP. Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[NXB] OFF
GO
-- Thêm dữ liệu TacGia
SET IDENTITY_INSERT [dbo].[TacGia] ON 
INSERT [dbo].[TacGia] ([ID], [MaTacGia], [TenTacGia], [TimeUpdate], [TimeCreate], [DiaChi]) VALUES (2, N'TG002     ', N'Nguyễn Văn Bình', CAST(N'2026-02-05T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime), N'Hà Nội')
INSERT [dbo].[TacGia] ([ID], [MaTacGia], [TenTacGia], [TimeUpdate], [TimeCreate], [DiaChi]) VALUES (3, N'TG003     ', N'Trần Thị Cẩm', CAST(N'2026-02-05T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime), N'TP. Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[TacGia] OFF
GO
-- Thêm dữ liệu SinhVien
INSERT [dbo].[SinhVien] ([ID], [MaSV], [Lop], [TimeUpdate], [TimeCreate], [HoTen]) VALUES (3, N'SV2026003 ', N'CNTT-K20', CAST(N'2026-02-05T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime), N'Lê Văn Nam')
GO
-- Thêm dữ liệu Sach
SET IDENTITY_INSERT [dbo].[Sach] ON 
INSERT [dbo].[Sach] ([ID], [MaSach], [TenSach], [LoaiSach], [NamXB], [NXB], [TacGia], [ViTri], [SoLuong], [Muon], [NgonNgu], [TimeCreate], [TimeUpdate]) VALUES (2, N'MS002     ', N'Lập trình C# từ cơ bản đến nâng cao', 4, N'2019      ', 2, 2, 2, 8, NULL, N'Việt', CAST(N'2026-02-05T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Sach] ([ID], [MaSach], [TenSach], [LoaiSach], [NamXB], [NXB], [TacGia], [ViTri], [SoLuong], [Muon], [NgonNgu], [TimeCreate], [TimeUpdate]) VALUES (3, N'MS003     ', N'Giải tích toán học tập 1', 7, N'2018      ', 2, 3, 3, 12, NULL, N'Việt', CAST(N'2026-02-05T00:00:00.000' AS DateTime), CAST(N'2026-02-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
-- Thêm dữ liệu PhieuMuon
SET IDENTITY_INSERT [dbo].[PhieuMuon] ON 
INSERT [dbo].[PhieuMuon] ([ID], [MaMuon], [NguoiMuon], [NgayMuon], [NgayTra], [HinhThuc], [TimeUpdate], [TimeCreate], [SoNgayMuon]) VALUES (3, N'PM003     ', 3, CAST(N'2024-01-15T00:00:00.000' AS DateTime), CAST(N'2024-02-15T00:00:00.000' AS DateTime), N'Mượn tại chỗ', CAST(N'2024-01-15T00:00:00.000' AS DateTime), CAST(N'2024-01-15T00:00:00.000' AS DateTime), 30)
SET IDENTITY_INSERT [dbo].[PhieuMuon] OFF
GO
-- Thêm dữ liệu User (tài khoản đăng nhập)
SET IDENTITY_INSERT [dbo].[User] ON 
INSERT [dbo].[User] ([ID], [Name], [Email], [Username], [TimeUpdate], [TimeCreate], [Password]) VALUES (1, N'Quản trị viên', N'admin@thuvien.edu.vn', N'admin     ', CAST(N'2026-02-01T00:00:00.000' AS DateTime), CAST(N'2026-02-01T00:00:00.000' AS DateTime), N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[User] ([ID], [Name], [Email], [Username], [TimeUpdate], [TimeCreate], [Password]) VALUES (2, N'Nguyễn Văn An', N'nva@thuvien.edu.vn', N'nva       ', CAST(N'2026-02-01T00:00:00.000' AS DateTime), CAST(N'2026-02-01T00:00:00.000' AS DateTime), N'e10adc3949ba59abbe56e057f20f883e')
INSERT [dbo].[User] ([ID], [Name], [Email], [Username], [TimeUpdate], [TimeCreate], [Password]) VALUES (3, N'Trần Thị Bình', N'ttb@thuvien.edu.vn', N'ttb       ', CAST(N'2026-02-01T00:00:00.000' AS DateTime), CAST(N'2026-02-01T00:00:00.000' AS DateTime), N'e10adc3949ba59abbe56e057f20f883e')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[LoaiSach] ADD  CONSTRAINT [DF_LoaiSach_TimeUpdate]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[NXB] ADD  CONSTRAINT [DF_NXB_TimeUpdate]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  CONSTRAINT [DF_PhieuMuon_TimeUpdate]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_Sach_SoLuong]  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Sach] ADD  CONSTRAINT [DF_Sach_NgayTao]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[SinhVien] ADD  CONSTRAINT [DF_SinhVien_TimeUpdate]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[TacGia] ADD  CONSTRAINT [DF_TacGia_TimeUpdate]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_TimeUpdate]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[ViTri] ADD  CONSTRAINT [DF_ViTri_TimeUpdate]  DEFAULT (getdate()) FOR [TimeUpdate]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_SinhVien] FOREIGN KEY([NguoiMuon])
REFERENCES [dbo].[SinhVien] ([ID])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_SinhVien]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_LoaiSach] FOREIGN KEY([LoaiSach])
REFERENCES [dbo].[LoaiSach] ([ID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_LoaiSach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NXB] FOREIGN KEY([NXB])
REFERENCES [dbo].[NXB] ([ID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NXB]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_PhieuMuon] FOREIGN KEY([Muon])
REFERENCES [dbo].[PhieuMuon] ([ID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_PhieuMuon]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TacGia] FOREIGN KEY([TacGia])
REFERENCES [dbo].[TacGia] ([ID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TacGia]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_ViTri] FOREIGN KEY([ViTri])
REFERENCES [dbo].[ViTri] ([ID])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_ViTri]
GO
USE [master]
GO
